$primary-color: #fb5;
$primary-variant-color: scale-color($color: $primary-color, $saturation: 0%, $lightness: -30%);
$break-small: 600px;
body {
  margin: 0;
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #2980b9;
}
a:visited {
  color: #9b59b6;
}
#welcome-section {
  background-color: $primary-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  a {
    color: black;
  }
  a:active {
    text-decoration-line: underline;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    background-color: $primary-color;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        display: block;
        padding: 15px;
      }
      a:hover {
        background-color: $primary-variant-color;
      }
    }
  }
}
#projects {
  h2 {
    text-align: center;
  }
  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    padding: 10px;
    .project-tile {
      display: grid;
      $gap: 5px;
      gap: $gap;
      > h3 { grid-area: header; }
      > img { grid-area: image }
      > .live-link { grid-area: live-link }
      > .source-code-link { grid-area: source-code-link }
      grid-template-areas:
        "header header"
        "image live-link"
        "image source-code-link";
      $image-size: 500px;
      grid-template-rows: auto repeat(2, calc(($image-size - $gap)/2));
      grid-template-columns: $image-size 80px;
      @media (max-width: 768px) {
        grid-template-areas:
          "header"
          "image"
          "live-link"
          "source-code-link";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: minmax(100%, 500px);
      }
      text-align: center;
      margin: 20px 5px;
      > * {
        background-color: black;
        color: white;
      }
      img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        border: 2px solid black;
      }
      h3, a {
        margin: 0;
        padding: 5px;
      }
      a:hover {
        background-color: $primary-variant-color;
      }
    }
  }
}
#links {
  background-color: $primary-color;
  padding: 20px;
  h2 {
    text-align: center;
    margin: 0;
  }
  .list {
    justify-content: center;
    display: flex;
    a {
      margin: 15px;
      .plate {
        border-radius: 50%;
        background-color: #eee;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}
